@font-face {
  font-family: "iconfont"; /* Project id 2652867 */
  src: url('./iconfont.woff?t=1625487646699') format('woff'),
       url('iconfont.ttf?t=1625487646699') format('ttf'),
       url('iconfont.ttf?t=1625487646699') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-headset:before {
  content: "\e60e";
}

.icon-next:before {
  content: "\e610";
}

.icon-previous:before {
  content: "\e611";
}

.icon-xianxingicon-12-copy:before {
  content: "\e612";
}