@font-face {
  font-family: "iconfont"; /* Project id 2652867 */
  src: url('iconfont.woff2?t=1628494829934') format('woff2'),
       url('iconfont.woff?t=1628494829934') format('woff'),
       url('iconfont.ttf?t=1628494829934') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanyi:before {
  content: "\e61c";
}

.icon-shanchu:before {
  content: "\e615";
}

.icon-laba:before {
  content: "\e613";
}

.icon-erji:before {
  content: "\e60e";
}

.icon-next:before {
  content: "\e610";
}

.icon-previous:before {
  content: "\e611";
}

