.list-card {
  position: relative;
  padding: 4px 8px;
  margin-top: 20px;
  width: 40%;
	max-width: 40%;
	min-width: 40%;
	flex: 1;
  background: #e6f7ff;
  border: 1px solid #ccc;
  .operate_btn {
    cursor: pointer;
    color: #b37feb;
    margin-right: 10px;
  }
  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    span {
      margin-left: 12px;
    }
    .btn_groups {
      position: absolute;
      right: 10px;
      i {
        margin-left: 4px;
        cursor: pointer;
      }
      .showTranslate {
        color: #d48806;
      }
      .delete {
        color: #ff7875;
      }
    }
    // .play {
    //   margin-left: 10px;
    // }
  }
  .delete_btn {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 40px;
    height: 30px;
    color: red;
  }
  .translation {
    padding-right: 30px;
  }
}
