.card-page {
	position: relative;
  width: 100vw;
  height: 100vh;
	background-color: rgb(229, 231, 235);
}
.setting {
	position: absolute;
	top: 20px;
	right: 30px;
	background: #fff;
	width: 200px;
	height: 30px;
	box-shadow: 0 100px 80px rgb(0 0 0 / 7%),
		0 41.7776px 33.4221px rgb(0 0 0 / 5%),
		0 22.3363px 17.869px r b(0 0 0 / 4%),
		0 12.5216px 10.0172px rgb(0 0 0 / 4%),
		0 6.6501px 5.32008px rgb(0 0 0 / 3%),
		0 2.76726px 2.21381px rgb(0 0 0 / 2%);
}
