.card-page {
	position: relative;
  width: 100vw;
  height: 100vh;
//   background: #FAF9FF;
	// background-color: rgb(229, 231, 235);
}
.setting {
	position: absolute;
	top: 20px;
	right: 30px;
	background: #fff;
	width: 400px;
	height: 60px;
	box-shadow:2px 2px 5px #ddd;
	color: #333;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 2;
	// font-size: 30px;
	.iconfont {
		font-size: 24px;
		cursor: pointer;
	}
}
