html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background: #faf9ff;
}
.no_words_tips {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

#root {
  width: 100%;
  height: 100%;
}
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .home_body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.rc-tooltip-inner {
  min-height: 100% !important;
}