.drawer {
  .rc-switch-checked {
    border: 1px solid #5994fc;
    background-color: #5994fc;
  }
  &-content {
    background-color: #f8f8f8;
    padding-bottom: 20px;
    box-sizing: border-box;
    .header {
      padding: 0 10px;
    }
    .setting-item {
      display: flex;
      align-items: center;
    }
    .content {
      padding: 0 20px;
      color: #999;
      font-size: 12px;
      .titles {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        color: #666;
      }
      .shorcut-desc {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
